# The fundamentals of Python and Jupyter

## Motivation

**Programming** is one of the most important skills for a data scientist, and Python is the *de facto* *lingua franca* &mdash; the programming language of choice &mdash; for Data Science.

Data Scientists perform much of this programming inside the Jupyter environment.

In this Chapter we introduce just enough Python (and Jupyter) to get you started in Data Science.

## Objectives

1. To introduce the Python programming language.
1. To explain where and how the reader can download the Anaconda Python distribution.
1. To introduce the Jupyter notebooks.
1. To demonstrate how different types of Jupyter notebook cells can be used.
1. To introduce the Python programming language.
1. To introduce variables.
1. To explain how to use Python's numeric data types: `int`s and `float`s.
1. To introduce type casting.
1. To demonstrate how to use Python libraries, using `math` as an example.
1. To explain the concept of dynamic typing.
1. To introduce strings.
1. To introduce `None`.
1. To introduce arithmetic expressions.
1. To introduce functions and explain their role in code reuse.
1. To explain why functions are first-class citizens in Python.
1. To introduce `bool`eans and logic.
1. To introduce comparison operators.
1. To explain how comparison operators can be combined with logical operators, such as `not`, `and`, and `or`.
1. To introduce `all` and `any`.
1. To explain that any value can be cast to a `bool`.
1. To introduce control flow and `if` statements.
1. To introduce key data structures: lists, tuples, dictionaries, and sets.
1. To explain iteration, and introduce the `while` loop and the `for` loop.
1. To introduce the temporal types: `date`, `time`, and `datetime`.
1. To provide examples and exercises on this material, so the reader can practise programming.

## What are Python and Jupyter

Python is a **programming language** that was created by Guido van Rossum and first released in 1991.

Its distinguishing characteristics are *straightforwardness* and *readability*, especially in comparison with other programming languages, such as C++ and Java. At the same time, Python is very expressive, powerful, and laconic, enabling programmers to express complex ideas in very little code.

Python is not only a language of choice for data science. It is frequently employed by web designers (for making websites), system administrators (for writing scripts and automation), hackers (also for writing scripts) and anyone who needs to process numeric and textual data in bulk.

There are two "lineages" of the Python language in existence. There is still Python 2.x (the last ever being version 2.7) and there is the more modern Python 3.x (the latest being version 3.9 at the time of writing). Python 3.x is supposed to supersede Python 2.x, but because so much systems code is powered by Python 2.x, Python 2.x is still supported and distributed. We shall stick with Python 3.x in the present work.

There are several Python **distributions** to choose from. The **Anaconda distribution** is a popular choice among Data Scientists. You can download the latest version of the Anaconda distribution for your operating system from https://www.anaconda.com/

If you have a 64-bit operating system, we suggest that you download the 64-bit version.

Once you have downloaded the distribution, install it.

Launch **Anaconda Navigator**. Once the Anaconda Navigator window shows up, launch **Jupyter notebook** from it. When it shows up in the browser, click on "New", then "Python 3". A blank Jupyter notebook should show up inviting you to enter some Python code.

It is worth noting that Jupyter notebooks are not the only way to write Python code. You could launch the Python **interpreter** (`python.exe` on Windows, `python` on Linux and MacOS) from the **Anaconda Prompt** and type in Python code closer to the metal. Or you could write your Python code in a text file, save it as `something.py` and end up with a standalone Python module or multiple such modules, forming a complex software product. This is something that we would do for a finished, polished solution in **production**. For **research** and **prototyping**, though, Jupyter notebooks are a perfect environment. (While Python is perfectly good for many production use cases, for others you may consider migrating to a language like C++, C#, or Java.)

For completeness, we shall mention that you don't have to use Python in Jupyter notebooks. The name "Jupyter" itself stands for "Julia, Python, R" &mdash; indeed, other programming languages, such as kdb+'s q, can be used in Jupyter notebooks, although we shall stick with Python in this work.

## Introduction to Jupyter

Jupyter notebooks are at the core of Python's research environment. In Jupyter notebooks, the data is

* loaded,
* cleaned,
* visualised,
* analysed,

possibly over multiple iterations, until the desired result is obtained. It is therefore unsurprising that Jupyter notebooks are often quite messy. Until they are finally cleaned up to present the conclusions of the research work. In fact, what you are reading right now is also a Jupyter notebook.

### Cells

A Jupyter notebook comprises a column of basic building blocks called **cells**.

To insert a new cell in Jupyter, first click on an existing cell, then click on "Insert" in Jupyter's menu and select "Insert Cell Above" or "Insert Cell Below".

Under the menu, in the toolbar, there is a drop-down box with cell types: "Code", "Markdown", "Raw NBConvert", and "Heading". Click on an existing cell, then alter its type by selecting a different value from that drop-down box.

The most important cell types for us are "Code" and "Markdown".

Incidentally, if you find that going through the menu is too slow, you can instead use keyboard shortcuts for the operations that we have described and others. To view the list of available keyboard shortcuts, choose "Help" from the menu, then "Keyboard shortcuts".

"Code" cells, such as the one below...

In [3]:
3 + 5

8

allow you to enter Python code (in our example, the numeric expression `3 + 5`) as "In" (input) and display the result as "Out" (output, in our example, `8`). Don't forget to press [Shift] + [Enter], once you have entered the code in your "Code" cell, to evaluate it and display the result in "Out". (The cursor will automatically move to the next cell.)

Markdown cells, such as the one you are currently reading, enable you to document your code. Moreover, you can use markdown syntax, such as `*this*` (to *italicise* the text), `**this**` (to make the text **bold**), include `# Headings` (prefixed with `#`), bulleted lists (prefixed with `*`, such as

* this
* simple
* list),

and numbered lists (prefixed with `1.`, such as

1. this
1. simple
1. list).

It is possible to include snippets of Python code, between two backticks, which will be `rendered in a special font`.

Finally, if you are a mathematician, you will be pleased to hear that you can include mathematical formulae, in $\LaTeX$, between two dollar signs (or double dollar signs for standalone equations). $\LaTeX$ looks pretty in Jupyter notebooks, such as this Euler's formula, $e^{ix} = \cos x + i \sin x$.

If we use double dollar signs, then we get
$$e^{ix} = \cos x + i \sin x.$$

Unfortunately, teaching you $\LaTeX$, Donald Knuth's mathematics typesetting language, is outside the scope of this work, but you will find plenty of resources on it online.

However, by now we hope that we have shown you the power of Markdown, Jupyter's language for documenting Python. The work that you are reading now is written in Markdown. You can read up on Markdown in Wikipedia: https://en.wikipedia.org/wiki/Markdown

#### Exercise

Typeset the following in Markdown:

***

In algebra, a **quadratic equation** (from the Latin *quadratus* for "square") is any equation having the form
$$ax^2 + bx + c = 0,$$
where
* $x$ represents an unknown, and
* $a$, $b$, and $c$ represent known numbers,
with $a \neq 0$.

If $a = 0$, then the equation is linear, not quadratic, as there is no $ax^2$ term.

The numbers $a$, $b$, and $c$ are the **coefficients** of the equation and may be distinguished by calling them, respectively, the **quadratic coefficient**, the **linear coefficient**, and the **constant** or **free term**.

The values of $x$ that satisfy the equation are called **solutions** of the equation, and **roots** or **zeros** of its left-hand side. A quadratic equation has at most two solutions.

The value $b^2 - 4ac$ is known as the **discriminant**.
1. If the discriminant is *positive*, there are two real solutions given by the formula
$$x_{1,2} = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a}.$$
1. If the discriminant is *zero*, there is one real solution (referred to as a **double root**) given by the formula
$$x = \frac{-b}{2a}.$$
1. If the discriminant is *negative*, there are no (real) solutions.

You can learn more about the quadratic equations on Wikipedia: https://en.wikipedia.org/wiki/Quadratic_equation

***

#### Solution

In algebra, a **quadratic equation** (from the Latin *quadratus* for "square") is any equation having the form
$$ax^2 + bx + c = 0,$$
where
* $x$ represents an unknown, and
* $a$, $b$, and $c$ represent known numbers,
with $a \neq 0$.

If $a = 0$, then the equation is linear, not quadratic, as there is no $ax^2$ term.

The numbers $a$, $b$, and $c$ are the **coefficients** of the equation and may be distinguished by calling them, respectively, the **quadratic coefficient**, the **linear coefficient**, and the **constant** or **free term**.

The values of $x$ that satisfy the equation are called **solutions** of the equation, and **roots** or **zeros** of its left-hand side. A quadratic equation has at most two solutions.

The value $b^2 - 4ac$ is known as the **discriminant**.
1. If the discriminant is *positive*, there are two real solutions given by the formula
$$x = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a}.$$
1. If the discriminant is *zero*, there is one real solution (referred to as a **double root**) given by the formula
$$x = \frac{-b}{2a}.$$
1. If the discriminant is *negative*, there are no (real) solutions.

You can learn more about the quadratic equations on Wikipedia: https://en.wikipedia.org/wiki/Quadratic_equation

## Introduction to Python

We have already entered our first piece of Python code, namely

In [2]:
3 + 5

8

#### Exercise

Compute, using Python, (i) the product of seven and eight, (ii) the difference between 2190 and 518, (iii) the result of dividing 100 by four (iv) the result of multiplying by 10 of the difference between 2190 and 518.

#### Solution

In [3]:
7 * 8

56

In [4]:
2190 - 518

1672

In [5]:
100 / 4

25.0

In [6]:
10 * (2190 - 518)

16720

or

In [7]:
(2190 - 518) * 10

16720

It should now be clear why we call Python a "supercalculator". Indeed, you could use Python as a calculator (but it is so much more). To start harnessing its power we should introduce

### Variables

A **variable** is one of the most important concepts in programming. Essentially, it is a named value. Moreover, as the name suggests, this named value can be varied (changed), while keeping the name the same.

Let us create a variable named `a`. We create a variable by assigning to it, using the **assignment operator `=`**, its initial value:

In [5]:
a = 5

This **statement** (command) essentially says "set the variable `a` to value 5".

Once the variable `a` has been created and **initialised** (set to its initial value), we can use it in **expressions**, such as `a + 3`. When we write `a` in expressions, its value (5) will be substituted for `a`, so the result of the arithmetic expression `a + 3` will be `5 + 3`, in other words, 8:

In [6]:
a + 3

8

We note that the difference between the statements and expressions is that the latter evaluate to a result.

As we said, the value of the variable can be varied (changed). Let us assign to `a` a different value, say, 7:

In [7]:
a = 7

Now when we evaluate the expression `a + 3`, we will get a different result, namely 10:

In [8]:
a + 3

10

What if we now assign to `a` the result of the expression `a + 3`?

In [9]:
a = a + 3

First, the expression `a + 3` on the right-hand side of `=` is evaluated (it is 7 + 3, i.e. 10). Next, it is assigned to `a` as its new value. So, as a result of this assignment, the value of the variable `a` has become

In [10]:
a

10

We may now introduce a different variable, say `b`,

In [11]:
b = 5

and use it in arithmetic expressions alongside `a`:

In [15]:
a + b + 3

18

Notice that the values of the variables persist (are remembered) as we go from one Jupyter cell to the next.

We could write all of the above more succinctly in a single cell:

In [16]:
a = 7
a = a + 3
b = 5
a + b + 3

18

Notice that only the result of the last expression, `a + b + 3` is returned as the output ("Out") by Jupyter.

Sometimes there is no "Out" to be printed, as is the case with assignment to a variable:

In [17]:
a = 10

However, as we said, variables persist throughout the Jupyter session, so we can inspect them in one of the following cells:

In [18]:
a

10

Remember that only the result from the last expression is printed:

In [19]:
2 + 2
3 + 7

10

However, you can print multiple things using the `print` **function**. This is convenient for inspecting intermediate results in your code:

In [20]:
print(2 + 2)
print(3 + 5)
3 + 4

4
8

7

In the example above, `4` and `8` are displayed by the two `print` functions, whereas the output of the cell is `7`, which is the result of evaluating the last expression in the cell, `3 + 4`.

Note that variable names in Python are case-sensitive, so `a` is not the same as `A`, `myvar` is not the same as `myVar`:

In [21]:
a = 3
A = 5
a

3

Whereas

In [22]:
A

5

#### Exercise

Set the variable `a` to `15`, the variable `b` to `7`, then, without typing in any digits, swap the values of the two variables, so the variable `a` becomes equal to `7` and the variable `b` to `15`.

#### Solution

In [23]:
a = 15
b = 7
temp = a
a = b
b = temp
print('a:', a)  # or simply print(a)
print('b:', b)  # or simply print(b)

a: 7
b: 15

Notice that in Python we use `#` to introduce comments.

Could we swap `a` and `b` without introducing temporary variables? We could make use of their numeric nature and do something like this:

In [13]:
a = 15
b = 7
a = a + b
b = a - b
a = a - b
print(a)
print(b)

7
15

### Numerics

So far all the values that we have dealt with in Python have been **numeric**, such as `3` and `5` in the expression

In [24]:
3 + 5

8

The result, `8`, is also numeric.

Moreover, these values are all integers. An **integer** in programming is the same as in mathematics: a whole number with no digits after the decimal point:

In [25]:
8

8

We can use the built-in Python function `type` to confirm that the **type** of 8 is indeed an integer (or `int` for short):

In [26]:
type(8)

int

We can assign this value to a variable

In [27]:
my_int = 8

And then that variable will have the type integer:

In [28]:
type(my_int)

int

Or we could print out the value of `my_int` along with the type of its value using `print`:

In [29]:
print(my_int, type(my_int))

8 <class 'int'>

Python supports fractions (mathematically speaking, **real numbers**), as well as integers. Fractions are implemented using a different type, the **floating point** type, `float`:

In [30]:
type(3.57)

float

We can force a **literal** to be interpreted as a float (rather than as an integer) by including the decimal point:

In [31]:
type(42.)

float

whereas

In [32]:
type(42)

int

We say that `42.` is a `float` literal, whereas `42` is an `int` literal.

We could also **cast** a value of type `int` to `float`:

In [33]:
float(42)

42.0

In [34]:
type(float(42))

float

When casting a value of type `float` to type `int` we may end up losing precision as we lose all digits after the decimal point:

In [35]:
int(3.57)

3

In [36]:
type(int(3.57))

int

The `float` data type is used throughout data science to represent numerical values in arithmetic operations.

#### Exercise

Is the sum of `3` and `3.57` an `int` or a `float`? Will you lose precision by casting `3` to a `float` then back to an `int`? Will you lose precision by casting `3.57` to an `int` then back to a `float`?

#### Solution

In [37]:
3 + 3.57

6.57

In [38]:
type(3 + 3.57)

float

In [39]:
int(float(3))

3

We haven't lost any precision.

In [40]:
float(int(3.57))

3.0

This time we have lost precision &mdash; the digits after the decimal point.

### Standard python libraries

The power of Python is in its **libraries** &mdash; pre-written collections of Python code that do useful stuff for us. We make use of libraries by `import`ing their **modules**:

In [4]:
import math

Once we have imported the standard Python library module `math`, we can start using functions defined in it, such as `sqrt` for the square root:

In [42]:
math.sqrt(3.57)

1.8894443627691184

We can use the results of these functions in expressions:

In [43]:
4.5 + 2 * math.sqrt(3.57)

8.278888725538238

Modules may define other things in addition to functions, such as constants. In particular, the `math` module defines the mathematical $\pi$ ("pi") constant, which relates the radius of a circle to its circumference (via $C = 2\pi r$, where $r$ is the radius, $C$ the circumference):

In [44]:
math.pi

3.141592653589793

As a side comment, many fractions, such as the **transcendental** number $\pi$, cannot be represented exactly using floating point. Floating point arithmetics relies on truncated, approximate representations of real numbers, which may lead to all sorts of **numerical issues** (often subtle) in scientific computing. However, what we are doing here is too basic for us to worry about these numerical issues. If you want to *really* understand floating point numbers, have a look at the paper **What Every Computer Scientist Should Know About Floating-Point Arithmetic** by David Goldberg (Google it).

#### Exercise

In one of the previous exercises we have already mentioned quadratic equations. Use `math` to find both solutions of the quadratic equation $2x^2 -3x + \frac{1}{2} = 0$.

#### Solution

In [2]:
a = 2.
b = -3.
c = .5
discriminant = b * b - 4 * a * c
discriminant

5.0

The discriminant is positive, so we should indeed have two real solutions:

In [5]:
x1 = (-b + math.sqrt(discriminant)) / (2. * a)
print('x1:', x1)
x2 = (-b - math.sqrt(discriminant)) / (2. * a)
print('x2:', x2)

x1: 1.3090169943749475
x2: 0.19098300562505255

Let us check:

In [6]:
a * x1 * x1 + b * x1 + c

0.0

In [7]:
a * x2 * x2 + b * x2 + c

5.551115123125783e-17

We have encountered a (very minor) floating point arithmetics, numerical issue: instead of zero, we got a very small number (`...e-17` should be read as $\ldots \cdot 10^{-17}$). For all practical purposes, this is zero, and `x2` is indeed a solution of our quadratic equation.

However, whereas

In [9]:
a * x1 * x1 + b * x1 + c == 0.

True

In [10]:
a * x2 * x2 + b * x2 + c == 0.

False

This shows the danger of comparing floating point numbers directly. Instead, we could ask Python whether the numbers are close enough (within some tolerance):

In [11]:
epsilon = 0.0000001

In [13]:
abs(a * x1 * x1 + b * x1 + c - 0.) < epsilon

True

In [14]:
abs(a * x2 * x2 + b * x2 + c - 0.) < epsilon

True

### Dynamic typing

Let us set the variable `x`, so it equals 65:

In [49]:
x = 65

Its type, then, will be integer:

In [50]:
type(x)

int

We could overwrite `x` with a value of a different type, such as a float:

In [51]:
x = 3.57

The type of `x` has now changed:

In [52]:
type(x)

float

Some programming languages (such as Java, C++, C#, and many others) would not allow overwriting `x` with a value of a different type: once something is an `int`, it is always an `int`. We say that these languages are **statically typed**, whereas Python is **dynamically typed**. Types are important in Python, and Python is still a **strongly typed** language, although the type of a variable may change over the lifetime of the program, hence the expression: "dynamically typed".

### Strings

The string type allows us define textual variables. A `string` literal is enclosed within two single `'` or two double `"` quotation marks.

In [53]:
my_str = 'foo'
print(my_str, type(my_str))

foo <class 'str'>

It is customary for introductions to programming languages to include an example that prints out the string `'Hello, World!'` In Python, this is a one-liner:

In [54]:
print('Hello, World!')

Hello, World!

The function `len` returns the length of a string:

In [55]:
len('Hello, World!')

13

We can access individual characters in a string using **indexing** with the square brackets. Notice that the indexing starts at zero, thus

In [56]:
'Hello, World!'[0]

'H'

whereas

In [57]:
'Hello, World!'[1]

'e'

We can also index from the back using negative indices:

In [58]:
'Hello, World!'[-1]

'!'

Moreover, we can index longer **substrings**, rather than individual characters:

In [59]:
'Hello, World!'[3:7]

'lo, '

Notice that the first index is inclusive, whereas the second exclusive, so the resulting substring consists of characters at indices 3, 4, 5, and 6 (but not 7).

When indexing, we can also provide a step:

In [60]:
'Hello, World!'[3:7:2]

'l,'

In [18]:
'Hello, World!'[::2]

'Hlo ol!'

Of course, instead of repearing the string 'Hello, World!' so many times (while running the risk of mistyping it), we should have stored it in a variable...

In [62]:
greet = 'Hello, World!'

...and then indexed:

In [63]:
greet[::2]

'Hlo ol!'

One of the most useful operations on strings is **concatenation**. It enables us to produce a single string from multiple:

In [64]:
'first' + 'second'

'firstsecond'

In [65]:
separator = ', '
'first' + separator + 'second' + separator + 'third'

'first, second, third'

In [15]:
s = 'Hello, World!'

#### Exercise

Use indexing and concatenation to obtain the string `'World, Hello!'` from `'Hello, World!'`.

#### Solution

In [66]:
greet = 'Hello, World!'

In [67]:
greet[7:12] + greet[5:7] + greet[:5] + greet[-1]

'World, Hello!'

### None

We can set Python variables to a special value, `None`,

In [20]:
a = None

of a special type,

In [21]:
type(a)

NoneType

`None` is used to signal that the value is absent or missing.

In fact, this is the value implicitly returned by statements, such as

In [70]:
print(357)

357

In [19]:
print(357) is None

357

True

### Arithmetic expressions

Python supports the standard arithmetic operators:

In [71]:
print('Addition:', 5 + 3)
print('Subtraction:', 5 - 3)
print('Multiplication:', 5 * 3)
print('Division:', 5 / 3)
print('Exponentiataion:', 5**3)
print('Modulo:', 5 % 3)

Addition: 8
Subtraction: 2
Multiplication: 15
Division: 1.6666666666666667
Exponentiataion: 125
Modulo: 2

Python also supports integer division, which produces the largest integer less than or equal to `5 / 3`:

In [72]:
5 // 3

1

If any of the arguments is a `float`, the result will also be of type `float`:

In [73]:
5.1 // 3.1

1.0

**Expressions** such as

In [74]:
3 + 5

8

In [75]:
2. * x + 7.

14.14

evaluate to numbers (whether integers, or floating point numbers). They are known as **arithmetic** expressions.

We can perform some other common operations on numerics:

In [76]:
print('Absolute value:', abs(-5))
print('Rounding:', round(3.56))
print('Maximum value:', max(3, 2, 8, 10, 2, 5))
print('Minimum value:', min(3, 2, 8, 10, 2, 5))

Absolute value: 5
Rounding: 4
Maximum value: 10
Minimum value: 2

### Functions

Suppose that we have written some code to compute the area of a circle:

In [77]:
radius = 5.
area = math.pi * radius * radius
print(area)

78.53981633974483

There is little point in rewriting it each time we encounter a new circle with a different radius. So we wrap it inside a **function**, which takes `radius` as its **parameter** (**argument**) and **returns** the result:

In [78]:
def area_of_circle(radius):
    area = math.pi * radius * radius
    return area

We can **call** our function with the values of the arguments that we need in each case:

In [79]:
area_of_circle(5.)

78.53981633974483

In [80]:
r = 7.5
area_of_circle(r)

176.71458676442586

The introduction of a function has facilitated **code reuse**. Code reuse not only saves us time, it minimises the number of bugs which we can introduce in more complicated code. And when we end up fixing these bugs, we only have to look at one place. This is a special case of a general programming principle called **Don't Repeat Yourself (DRY)**. This is a particularly important idea in programming, so we will say it again, Don't Repeat Yourself (DRY)!

Unlike other programming languages, such as C++, C# or Java, Python does not require the programmer to pre-specify the types of either the function's return value or the arguments. In those other languages we would have had something like

def float area_of_circle(float radius):
    float area = math.pi * radius * radius
    return area

But not in Python.

Functions can have multiple arguments:

In [81]:
def area_of_triangle(base, height):
    print('Base:', base)
    print('Height:', height)
    area = .5 * base * height
    return area

area_of_triangle(3., 5.)

Base: 3.0
Height: 5.0

7.5

Notice how the **block** of code was indented (we chose to indent it using four spaces, although some people prefer to use tabs) to delimit it, designating it as the **body** of the function `area_of_triangle`. The function call that ensues, `area_of_triangle(3., 5.)`, is not indented, and is not part of that body. Python uses indentation where many other programming languages use curly brackets (braces, { and }).

The variables `base` and `height` are defined only within the body of the function. We say that those variables' **scope** is limited to the body of the function.

It is possible to call the function specifying the values of the arguments in order

In [82]:
area_of_triangle(3., 5.)

Base: 3.0
Height: 5.0

7.5

or by name (and possibly out of order)

In [83]:
area_of_triangle(height=5., base=3.)

Base: 3.0
Height: 5.0

7.5

Functions can also specify default values for their arguments in their definitions:

In [84]:
def area_of_triangle(base, height=5.):
    return .5 * base * height

So calling

In [85]:
area_of_triangle(3., 5.)

7.5

can now be equivalently done as

In [86]:
area_of_triangle(3.)

7.5

Notice that like everything else (e.g. integers) functions are objects and **first-class citizens**. Thus we can think of `area_of_triangle` as a variable set to a value of type `function`:

In [87]:
type(area_of_triangle)

function

Function objects can be passed to other functions as parameters:

In [1]:
def add(x, y):
    return x + y

def multiply(x, y):
    return x * y

def result_printer(op, x, y):
    print('The result is', op(x, y))
    
result_printer(add, 3, 5)
result_printer(multiply, 3, 5)

The result is 8
The result is 15

If a library defines the function that we need, then we don't need to write our own. We have already seen (and used) the function

In [89]:
math.sqrt(9.)

3.0

#### Exercise

Write two functions that will return the two roots of a given quadratic equation. Test them on the quadratic equation $2x^2 -3x + \frac{1}{2} = 0$.

#### Solution

In [90]:
def discriminant(a, b=0., c=0.):
    return b * b - 4. * a * c

In [91]:
def root1(a, b=0., c=0.):
    d = discriminant(a, b, c)
    return (-b - math.sqrt(d)) / (2. * a)

In [92]:
def root2(a, b=0., c=0.):
    d = discriminant(a, b, c)
    return (-b + math.sqrt(d)) / (2. * a)

In [93]:
root1(2., -3., .5)

0.19098300562505255

In [94]:
root2(2., -3., .5)

1.3090169943749475

### Booleans and logic

`bool`ean is a binary variable type, that can either be `True` or `False`. It is so named after the self-taught English mathematician, philosopher, and logician George Boole: https://en.wikipedia.org/wiki/George_Boole

In [95]:
my_bool = True
print(my_bool, type(my_bool))

True <class 'bool'>

In [96]:
my_bool = False
print(my_bool, type(my_bool))

False <class 'bool'>

Let us set `x` to the integer 10:

In [97]:
x = 10

Expressions that evaluate to either `True` or `False` are known as **boolean** expressions.

In [98]:
x < 10

False

In [99]:
type(x < 10)

bool

Different boolean expressions can be obtained by using different **comparison operators**, such as **less than**:

In [100]:
x < 10

False

**less than or equals**:

In [101]:
x <= 10

True

**equals**:

In [102]:
x == 10

True

**greater than or equals**:

In [103]:
x >= 10

True

**greater than**:

In [104]:
x > 10

False

And these comparison operators can be combined with **logical operators**, such as `not`, `and`, and `or`:

In [105]:
x <= 10 and x % 2 == 1

False

In [106]:
x <= 10 or x % 2 == 1

True

We can also use the built-in function `all`:

In [107]:
all([x > 1, 5 <= x, 5 > 3, 7 != 1])

True

which is equivalent to

In [108]:
x > 1 and 5 <= x and 5 > 3 and 7 != 1

True

Similarly,

In [109]:
all([x > 1, 5 <= x, x == 5, 5 > 3, 7 != 1])

False

is equivalent to

In [110]:
x > 1 and 5 <= x and x == 5 and 5 > 3 and 7 != 1

False

Another builtin function, `any`, enables us to write

In [111]:
any([x > 1, 5 <= x, x == 5, 5 > 3, 7 != 1])

True

which is somewhat more succinct and arguably more readable than the equivalent

In [112]:
x > 1 or 5 <= x or x == 5 or 5 > 3 or 7 != 1

True

Each data type can also be cast to `True` or `False`. As a general rule, objects like `string` if they do not contain anything, zeros, and `None` will be cast to `False`, while everything else will be cast to `True`:

In [113]:
print(bool())
print(bool(''))
print(bool(' '))
print(bool(0))
print(bool(0.))
print(bool(1))
print(bool(1.5))
print(bool(None))

False
False
True
False
False
True
True
False

### Control flow

We can control the flow of our programs using the basic logical operators and `if` statements. The `if` statement evaluates the `if` block if the given boolean expression is `True` and the `else` block (as long as it is present) if the given boolean expression is `False`. Else-if or `elif` lets us set a specific boolean expression to evaluate if the base case is not `True`.

In [114]:
if x <= 7:
    print('x is less than or equal to seven')
else:
    print('x is greater than seven')

x is greater than seven

In [115]:
if x <= 7:
    print('x is less than or equal to seven')

In this example, `x > 7` (so `x <= 7` is `False`) but there is no `else` block, so nothing is evaluated/printed.

In [116]:
if x <= 7:
    print('x is less than or equal to seven')
elif x <= 10:
    print('x is greater than seven but less than or equal to ten')
elif x <= 15:
    print('x is greater than ten but less than or equal to fifteen')
else:
    print('x is greater than fifteen')

x is greater than seven but less than or equal to ten

We can also have nested `if-else` statements:

In [117]:
if x % 2 == 0:
    print('x is even')
    if x % 5 == 0:
        print('x is divisible by 2 and 5')
elif x % 5 == 0:
    print('x is divisible by 5 but not 2')
else:
    print('x is divisible by neither 2 nor 5')

x is divisible by 2
x is divisible by 2 and 5

To check whether a variable is `None` we use `is None` rather than `== None`:

In [118]:
if x is None:
    print('x is None')
else:
    print('x is not None')

x is not None

#### Exercise

Write a function that will return the number of real solutions of a quadratic equation.

#### Solution

In [119]:
def number_of_solutions(a, b=0, c=0):
    # We could have used a function to compute the discriminant, but didn't in this case:
    discriminant = b * b - 4. * a * c
    if discriminant > 0:
        return 2
    elif discriminant == 0:
        return 1
    else:
        return 0

In [120]:
number_of_solutions(2., -3., .5)

2

In [121]:
number_of_solutions(1., 3., 5.)

0

#### Exercise

The **Fibonacci sequence** is a sequence of integers, starting with zero and one, such that each term in the sequence is the sum of the previous two. Thus the first few terms of the sequence are 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, etc. Write a function that, given `n`, will return the `n`th term of the Fibonacci sequence.

#### Solution

In [122]:
def fibonacci(n):
    if n < 0: raise ValueError('n must be nonnegative')
    elif n <= 1: return n
    else:
        return fibonacci(n - 2) + fibonacci(n - 1)

In [123]:
fibonacci(0)

0

In [124]:
fibonacci(1)

1

In [125]:
fibonacci(2)

1

In [126]:
fibonacci(3)

2

In [127]:
fibonacci(4)

3

In [128]:
fibonacci(5)

5

In [129]:
fibonacci(6)

8

Note that, when defining the function `fibonacci`, we have used what is known as **recursion**: the function returns specific values in the **base cases** (when `n = 0` and `n = 1`) and calls itself in the **recursive case**.

### Data structures

As data scientists, we care a lot about **data structures** that let us store and access large amounts of data. Some such data structures, such as lists, tuples, dictionaries, and sets, are part of the Python standard. Others, such as multidimensional arrays and dataframes, are provided by third-party, but *de facto* standard libraries, such as NumPy and Pandas, respectively.

#### Lists

A list is arguably the most commonly used data structure in Python. Its core function is to allow storage of and access to various elements. Financial data in particular are often represented as time series, which are, collections of observed values with corresponding time. To define a `list` we use square brackets `[]`:

In [130]:
my_list = [1, 5, 6, 3]
print(my_list, type(my_list))

[1, 5, 6, 3] <class 'list'>

Python allows us to combine elements of different types into the same `list`:

In [131]:
my_list = [3, "hello world", True, None, 3, math.pi]
print(my_list)

[3, 'hello world', True, None, 3, 3.141592653589793]

Let's examine the length of our list:

In [132]:
len(my_list)

6

Notice that repeated values are counted as distinct elements.

Accessing elements of a `list` is performed using indexing with `[]`. Rememeber that the index of the first element of the list is `0`:

In [133]:
print(my_list[0])
print(my_list[1])
print(my_list[3])
print(my_list[2])
print(my_list[4])

3
hello world
None
True
3

You may also access elements from the end of a list by using negative indexing:

In [134]:
print(my_list[-1])
print(my_list[-2])
print(my_list[-3])
print(my_list[-4])

3.141592653589793
3
None
True

We may set an element in a `list` to a new value:

In [135]:
my_list[-1] = 4
print(my_list)

[3, 'hello world', True, None, 3, 4]

Thus a list can be changed after its construction &mdash; in other words, a list is **mutable** (as opposed to **immutable**).

We can select a sublist from the list:

In [136]:
my_list = ['problems','worthy','of','attack','prove','their','worth','by','fighting','back']
print(my_list[3:6])

['attack', 'prove', 'their']

Notice that the index 3 is inclusive, whereas the index 6 exclusive, so, as a result, we obtain a sublist containing elements at indices 3, 4, and 5 (but not 6).

We may also select sublists without the lower and/or upper bounds:

In [137]:
print(my_list[3:])
print(my_list[:5])
print(my_list[:])

['attack', 'prove', 'their', 'worth', 'by', 'fighting', 'back']
['problems', 'worthy', 'of', 'attack', 'prove']
['problems', 'worthy', 'of', 'attack', 'prove', 'their', 'worth', 'by', 'fighting', 'back']

You can specify a step:

In [138]:
my_list[::2]

['problems', 'of', 'prove', 'worth', 'fighting']

Reverse the order by setting a negative step size:

In [139]:
my_list[::-1]

['back',
 'fighting',
 'by',
 'worth',
 'their',
 'prove',
 'attack',
 'of',
 'worthy',
 'problems']

And combine the step with lower and upper bounds:

In [140]:
my_list[2:10:3]

['of', 'their', 'fighting']

We can use Python's `range` function to generate a list of consecutive integers:

In [141]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Conveniently, we can specify a step as well:

In [142]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

We can add elements to the end of the list via the `append` method (a **method** is a function associated with a particular object, in our example, `my_list`):

In [143]:
my_list = list(range(0,10))
my_list.append(25)
my_list.append(25)
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 25, 25]

We can remove specific elements by calling the method `remove` and supplying it with the value of an element that we would like to remove. Note that only the first instance of an element will be removed:

In [144]:
my_list.remove(25)
my_list.remove(my_list[5])
print(my_list)

[0, 1, 2, 3, 4, 6, 7, 8, 9, 25]

We can **filter** a list using something like

In [145]:
list(filter(lambda x: x > 5, my_list))

[6, 7, 8, 9, 25]

Here the **lambda** or **anonymous function** `lambda x: x > 5` is equivalent to

In [146]:
def my_func(x): return x > 5

but shorter and avoids giving the function a name &mdash; it is not needed, as we don't intent to call this function in the future.

We can **map** or apply a function (or lambda) to each element of a list:

In [147]:
list(map(lambda x: 2 * x, my_list))

[0, 2, 4, 6, 8, 12, 14, 16, 18, 50]

The function `sorted` sorts a list without modifying it &mdash; it returns a new, sorted list, while keeping the original one intact:

In [148]:
sorted(my_list, reverse=True)

[25, 9, 8, 7, 6, 4, 3, 2, 1, 0]

In [149]:
my_list

[0, 1, 2, 3, 4, 6, 7, 8, 9, 25]

On the other hand, the *method* `sort` (a **method** is a function associated with a particuar object) modifies the list &mdash; it sorts it **in place**:

In [150]:
my_list.sort()

In [151]:
my_list

[0, 1, 2, 3, 4, 6, 7, 8, 9, 25]

#### Tuples

Let us consider an example.

In [152]:
a = [3, "hello world", True, None, 3, math.pi]
a = ['some', 'other', 'list']
a

['some', 'other', 'list']

The variable `a` was first assigned to the list `[3, "hello world", True, None, 3, math.pi]`, but was then reassigned to another list, `['some', 'other', 'list']`. Variables can be thought of as pointers (**references**) to objects in memory, such as lists. Two variables can reference the same object in memory, e.g.

In [153]:
a = [3, "hello world", True, None, 3, math.pi]
b = a

Now,

In [154]:
a

[3, 'hello world', True, None, 3, 3.141592653589793]

In [155]:
b

[3, 'hello world', True, None, 3, 3.141592653589793]

Since lists are **mutable** objects, they can be modified after construction. Notice that we are not reassigning a variable so it references a new object in memory, we are modifying the object that it is already pointing to:

In [156]:
a[2] = False
a

[3, 'hello world', False, None, 3, 3.141592653589793]

Notice that, since the variable `b` is referencing the same object, its value has also changed:

In [157]:
b

[3, 'hello world', False, None, 3, 3.141592653589793]

In this sense, mutable objects are somewhat dangerous. Consider the following code:

In [2]:
def my_broken_mean(arg):
    # This could be a long function, which, perhaps by mistake,
    # modifies arg:
    # ...
    arg[3] = 11.7
    # ...
    return sum(arg) / len(arg)

Let's apply this function to

In [3]:
a = [4.25, 18.5, 22.5, 13.7, 25.4]

The result of the (broken) `my_broken_mean` looks roughly correct...

In [4]:
my_broken_mean(a)

16.47

...although it's not. But what's worse, the user of `my_broken_mean`, who never expected that function to modify its argument, is in for a surprise:

In [5]:
a

[4.25, 18.5, 22.5, 11.7, 25.4]

When we doubt the validity of some code, we may defensively copy the arguments like so:

In [7]:
a = [4.25, 18.5, 22.5, 13.7, 25.4]
print(my_broken_mean(a.copy()))
a

16.47

[4.25, 18.5, 22.5, 13.7, 25.4]

Notice that a copy is equal to...

In [163]:
a = [4.25, 18.5, 22.5, 13.7, 25.4]
b = [4.25, 18.5, 22.5, 13.7, 25.4]
a == b

True

...but not identical to (does not correspond to the same object in memory as) the original:

In [164]:
a is b

False

Whereas if both variables point to the same object in memory we get both **equality** and **identity**:

In [165]:
a = [4.25, 18.5, 22.5, 13.7, 25.4]
a = b
print(a == b)
print(a is b)

True
True

We can also check this by examining the `id` of the object, which in CPython is equal to its address in memory:

In [166]:
id(a)

2530281602952

In [167]:
id(b)

2530281602952

Mutable objects, such as lists, may therefore be a source of subtle and difficult to track bugs. They are less safe than immutable objects, which cannot be modified after construction. Mutable objects are particularly dangerous in multi-threaded environments where code runs in parallel.

Fortunately, Python has a built-in data structure, which is very similar to a list, but immutable: a **tuple**. We create a tuple instead of a list by using round brackets instead of square brackets:

In [168]:
a = (4.25, 18.5, 22.5, 13.7, 25.4)
type(a)

tuple

Alternatively, we may cast a list to a tuple:

In [169]:
a = tuple([4.25, 18.5, 22.5, 13.7, 25.4])
type(a)

tuple

Once a tuple has been created, it cannot be modified: `a[0] = 3.57` will raise an error and the tuple doesn't have methods such as `a.append(3.57)`.

Notice that

In [25]:
(3)

3

is interpreted as the number 3, whereas

In [26]:
(3,)

(3,)

is interpreted as a tuple containing a single element &mdash; number 3.

#### Exercise

Write a single function that will return the two roots of a given quadratic equation as a tuple. Test your function on the quadratic equation $2x^2 -3x + \frac{1}{2} = 0$.

#### Solution

In [12]:
import math
def quadratic(x, a, b=0., c=0.,):
    return a * x * x + b * x + c

In [13]:
def discriminant(a, b=0., c=0.):
    return b * b - 4. * a * c

In [14]:
def solve_quadratic(a, b=0., c=0.):
    d = discriminant(a=a, b=b, c=c)
    if d > 0.:
        return (-b - math.sqrt(d)) / (2. * a), (-b + math.sqrt(d)) / (2. * a)
    elif d == 0.:
        return (-b / (2. * a),)
    else:
        return tuple()

In [15]:
sols = solve_quadratic(2., -3., .5)
sols

(0.19098300562505255, 1.3090169943749475)

In [17]:
type(quadratic)

function

In [174]:
quadratic(sols[0], 2., -3., .5)

5.551115123125783e-17

In [175]:
quadratic(sols[1], 2., -3., .5)

0.0

In [40]:
sols = solve_quadratic(1., 2., 1.)
sols

(-1.0,)

In [41]:
quadratic(sols[0], 1., 2., 1.)

0.0

In [42]:
sols = solve_quadratic(2., 0., 0.5)
sols

()

#### Exercise

Set the variable `a` to `15`, the variable `b` to `7`, then, without typing in any digits, *without using arithmetics, and without introducing any new variables*, swap the values of the two variables, so the variable `a` becomes equal to `7` and the variable `b` to `15`. Hint: use tuples.

#### Solution

In [176]:
a = 15
b = 7
a, b = b, a
print('a:', a)
print('b:', b)

a: 7
b: 15

This method of swapping variables is brief, clear, avoids the introduction of temporary variables. It is more idiomatic than the previously considered methods or, in Python-speak, more **Pythonic**.

#### Dictionaries

Python **dictionaries** are powerful abstractions that let us define **key-value pairs**. In other programming languages, such abstractions are also known as **maps**. We define dictionaries by using the following notation:

In [177]:
book = {
    'authors': 'Michael Berthold',
    'title': 'Intelligent Data Analysis',
    'publisher': 'Springer',
    'year': 2003
}

In this dictionary, the **keys** `'authors'`, `'title'`, `'publisher'`, and `'year'` correspond to the **values** `'Michael Berthold'`, `'Intelligent Data Analysis'`, `'Springer'`, and `2003`, respectively.

Data structures can be **nested**. For example, the value in a dictionary may itself be a data structure, such as a list:

In [178]:
book = {
    'authors': ['Michael Berthold', 'David J. Hand'],
    'title': 'Intelligent Data Analysis',
    'publisher': 'Springer',
    'year': 2003
}

We can index the dictionary using the `[]` notation:

In [179]:
book['authors']

['Michael Berthold', 'David J. Hand']

Notice that dictionaries are mutable:

In [180]:
my_dict = {1: 'one', 2: 'two',3: 'three'}
print(my_dict[1])
my_dict[4] = 'four'
print(my_dict)

one
{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

Let's see how we could define a toy dataset of financial time-series:

In [181]:
my_dict = {
    'AAPL': [200, 201, 200.1, 205],
    'GOOG': [700, 750, 640, 720],
    'AMZN': [900, 850, 920, 910]
}

In [182]:
my_dict

{'AAPL': [200, 201, 200.1, 205],
 'AMZN': [900, 850, 920, 910],
 'GOOG': [700, 750, 640, 720]}

Here, each value is a list of asset prices, e.g.

In [183]:
my_dict['AMZN']

[900, 850, 920, 910]

#### Sets

Sets are defined using the syntax

In [44]:
s = {'red', 'green', 'blue', 'red', 'red', 'green', 'blue'}

Alternatively, a set can be constructed from another collection (such as the list in the following example) using the `set` constructor:

In [45]:
s = set(['red', 'green', 'blue', 'red', 'red', 'green', 'blue'])

Unlike lists, repeated elements in sets count as one:

In [46]:
s

{'blue', 'green', 'red'}

In [47]:
len(s)

3

It doesn't make sense to talk about the indices of the elements of the set. The element is either present in or absent from the set:

In [187]:
'green' in s

True

In [188]:
'purple' in s

False

Sets are mutable:

In [51]:
s.add('cyan')
s

{'blue', 'cyan', 'green', 'red'}

We can consider **unions** of sets...

In [48]:
{'red', 'green', 'blue', 'red', 'red', 'green', 'blue'}.union({'purple', 'green', 'yellow'})

{'blue', 'green', 'purple', 'red', 'yellow'}

...**intersections** of sets...

In [49]:
{'red', 'green', 'blue', 'red', 'red', 'green', 'blue'}.intersection({'purple', 'green', 'yellow'})

{'green'}

...as well as set **differences**:

In [190]:
{'red', 'green', 'blue', 'red', 'red', 'green', 'blue'}.difference({'purple', 'green', 'yellow'})

{'blue', 'red'}

#### Iteration

**Iteration** is the process of going through the elements of a collection. To facilitate iteration, we rely on **loops**, which allow us to evaluate blocks of code multiple times.

##### The `while` loop

The `while` loop is a basic loop that will execute if some condition is `True` and stops executing when the condition is `False`:

In [191]:
a = True
while a:
    print('inside while loop')
    a = False

inside while loop

Here is another example:

In [52]:
x = 0
while x < 10:
    print(x)
    x = x + 1

0
1
2
3
4
5
6
7
8
9

We start by setting the variable `x` to 0. We then repeat the indented block, consisting of the lines `print(x)` and `x = x + 1`, while the condition `x < 10` holds. The second line in this block, `x = x + 1`, keeps incrementing the variable `x` by 1, so eventually the condition `x < 10` will end up being false. Thus we get ten **iterations** of the loop. If we check the value of the variable `x` after we have left the loop, we find that it is

In [193]:
x

10

We can escape the loop by issuing a `break` command:

In [194]:
a = 0
while True:
    a += 1
    print(a)
    if a == 10:
        break

1
2
3
4
5
6
7
8
9
10

##### The `for` loop

We use `for` loops to iterate through lists, dictionaries, ranges and other data structures. The `for` loop will go through every element in the collection and perform a given task on that element. Here is an example &mdash; let us add up all elements of a range using a `for` loop:

In [195]:
a = 0
for i in range(10):
    a += i
print(a)

45

#### Exercise

Define

In [54]:
list_of_words = ['problems', 'worthy', 'of', 'attack', 'prove', 'their', 'worth', 'by', 'fighting', 'back']

Use a `for` loop to concatenate these words into a single string, separating them with spaces.

#### Solution

In [55]:
s = ''
for w in list_of_words:
    s += w + ' '
s

'problems worthy of attack prove their worth by fighting back '

Notice that our solution produces a spurious space at the end of `s`. We could resolve this issue by using a `for` loop with `enumerate`. `enumerate` "labels" each of the items in an iterable with its index:

In [56]:
for i, w in enumerate(list_of_words):
    print(i, w)

0 problems
1 worthy
2 of
3 attack
4 prove
5 their
6 worth
7 by
8 fighting
9 back

Technically speaking, `enumerate` produces an iterable of tuples. We use the syntax `i, w` to **unpack** these tuples into the two variables, `i` and `w`.

Here is a solution without the spurious space at the end:

In [57]:
s = ''
for i, w in enumerate(list_of_words):
    if i > 0: s += ' '
    s += w
s

'problems worthy of attack prove their worth by fighting back'

We didn't have to use a `for` loop in this case, since `string` has the `join` method:

In [58]:
result = ' '.join(list_of_words)
result

'problems worthy of attack prove their worth by fighting back'

Its "opposite" (inverse) is the string's method `split`:

In [59]:
result.split(' ')

['problems',
 'worthy',
 'of',
 'attack',
 'prove',
 'their',
 'worth',
 'by',
 'fighting',
 'back']

There is more than one way to iterate through dictionaries:

In [60]:
my_dict = {
    'AAPL': [200, 201, 200.1, 205],
    'GOOG': [700, 750, 640, 720],
    'AMZN': [900, 850, 920, 910]
}

By default, we shall be iterating only through the dictionary's keys:

In [61]:
for k in my_dict:
    print(k)

AAPL
GOOG
AMZN

The dictionary's `items` method gives access to keys and values:

In [62]:
for key, value in my_dict.items():
    print(key, value[0])

AAPL 200
GOOG 700
AMZN 900

#### Exercise

Compute the `n`th term of the Fibonacci sequence using loops instead of recursion.

#### Solution

In [205]:
def fibonacci(n):
    a, b = 0, 1
    if n == 0: return a
    if n == 1: return b
    for i in range(n):
        a, b = b, a + b
    return a

In [206]:
fibonacci(9)

34

#### Exercise

Consider the following list of postcodes:

In [20]:
postcodes = ['E14 4AD', 'NW1 6AA', 'EC2N 2DB', 'EC4A 2BE', 'E14 5AB', 'EH1 3AB']

Use a loop to count how many of them occur in East London. (East London post codes start with a letter `'E'` followed by a digit.)

#### Solution

In [21]:
east_london_count = 0
for postcode in postcodes:
    if postcode[0] == 'E' and postcode[1] >= '0' and postcode[1] <= '9':
        east_london_count += 1
east_london_count

2

This can be written more tersely:

In [22]:
east_london_count = 0
for postcode in postcodes:
    if postcode[0] == 'E' and '0' <= postcode[1] <= '9':
        east_london_count += 1
east_london_count

2

#### Exercise

Consider the following list of emails:

In [23]:
emails = [
    'isaac.newton@morganstanley.com',
    'gottfried.leibniz@gs.com',
    'andrey.kolmogorov@jpmorgan.com',
    'joseph.fourier@bnpparibas.com',
    'henri.lebesgue@bnpparibas.com',
    'norbert.wiener@jpmorgan.com',
    'paul.levy@jpmorgan.com'
]

Count how often each domain (`morganstanley.com`, `gs.com`, etc.) appears in this list.

#### Solution

In [24]:
counts = {}
for email in emails:
    split_email = email.split('@')
    name = split_email[0]
    domain = split_email[1]
    if domain in counts:
        counts[domain] += 1
    else:
        counts[domain] = 1
counts

{'morganstanley.com': 1, 'gs.com': 1, 'jpmorgan.com': 3, 'bnpparibas.com': 2}

This can be done more Pythonically:

In [26]:
from collections import Counter
Counter([email.split('@')[1] for email in emails])

Counter({'morganstanley.com': 1,
         'gs.com': 1,
         'jpmorgan.com': 3,
         'bnpparibas.com': 2})

This approach uses a `Counter` and a list comprehension `[... for x in y]`. We'll talk about list comprehensions another time. However, for now, `[email.split('@')[1] for email in emails]` is equivalent to

result = []
for email in emails:
    result.append(emapli.split('@')[1])

#### Exercise

Consider the following list of emails:

In [29]:
emails = [
    'isaac.newton@morganstanley.com',
    'gottfried.leibniz@gs.com',
    'isaac.newton@morganstanley.com',
    'isaac.newton@morganstanley.com',
    'andrey.kolmogorov@jpmorgan.com',
    'gottfried.leibniz@gs.com',
    'joseph.fourier@bnpparibas.com',
    'henri.lebesgue@bnpparibas.com',
    'andrey.kolmogorov@jpmorgan.com',
    'norbert.wiener@jpmorgan.com',
    'andrey.kolmogorov@jpmorgan.com',
    'paul.levy@jpmorgan.com'
]

Count how many times each email is repeated in this list. Which email or emails occur the maximum number of times?

#### Solution

In [212]:
repeat_counts = {}
for email in emails:
    if email in repeat_counts:
        repeat_counts[email] = repeat_counts[email] + 1
    else:
        repeat_counts[email] = 1

In [213]:
repeat_counts

{'andrey.kolmogorov@jpmorgan.com': 3,
 'gottfried.leibniz@gs.com': 2,
 'henri.lebesgue@bnpparibas.com': 1,
 'isaac.newton@morganstanley.com': 3,
 'joseph.fourier@bnpparibas.com': 1,
 'norbert.wiener@jpmorgan.com': 1,
 'paul.levy@jpmorgan.com': 1}

Or, more Pythonically,

In [30]:
Counter(emails)

Counter({'isaac.newton@morganstanley.com': 3,
         'gottfried.leibniz@gs.com': 2,
         'andrey.kolmogorov@jpmorgan.com': 3,
         'joseph.fourier@bnpparibas.com': 1,
         'henri.lebesgue@bnpparibas.com': 1,
         'norbert.wiener@jpmorgan.com': 1,
         'paul.levy@jpmorgan.com': 1})

In [214]:
max_repeats = max(map(lambda x: x[1], repeat_counts.items()))
max_repeats

3

In [215]:
list(filter(lambda x: x[1] == max_repeats, repeat_counts.items()))

[('isaac.newton@morganstanley.com', 3), ('andrey.kolmogorov@jpmorgan.com', 3)]

#### Exercise

Consider the following lists that represent a table of assignment marks:

In [31]:
names = [
    'Isaac Newton',
    'Gottfried Leibniz',
    'Isaac Newton',
    'Isaac Newton',
    'Andrey Kolmogorov',
    'Gottfried Leibniz',
    'Joseph Fourier',
    'Henri Lebesgue',
    'Andrey Kolmogorov',
    'Norbert Wiener',
    'Andrey Kolmogorov',
    'Paul Levy'
]
marks = [
    8.,
    9.,
    8.5,
    10.,
    9.,
    7.,
    8.5,
    10.,
    8.5,
    9.,
    10.,
    10.
]

Find the best assignment mark for each person. You may choose to use the `zip` function &mdash; look it up.

#### Solution

In [217]:
top_marks = {}
for name, mark in zip(names, marks):
    if name in top_marks:
        if mark > top_marks[name]:
            top_marks[name] = mark
    else:
        top_marks[name] = mark
top_marks

{'Andrey Kolmogorov': 10.0,
 'Gottfried Leibniz': 9.0,
 'Henri Lebesgue': 10.0,
 'Isaac Newton': 10.0,
 'Joseph Fourier': 8.5,
 'Norbert Wiener': 9.0,
 'Paul Levy': 10.0}

We see that dictionaries are often used as supporting, auxiliary structures for processing lists.

#### Exercise

Consider the following list of daily temperatures:

In [56]:
temperatures = [None, 25., 25.5, 27., None, 28., 28.5, None, None, 30., 29.5, 29.5, None, 28.]

**Interpolate** the missing values using the last non-`None` value before the said missing value.

#### Solution

In [57]:
interpolated_temperatures = []
for t in temperatures:
    if t is None:
        if len(interpolated_temperatures) == 0:
            interpolated_temperatures.append(None)
        else:
            interpolated_temperatures.append(interpolated_temperatures[-1])
    else: interpolated_temperatures.append(t)

In [58]:
interpolated_temperatures

[None,
 25.0,
 25.5,
 27.0,
 27.0,
 28.0,
 28.5,
 28.5,
 28.5,
 30.0,
 29.5,
 29.5,
 29.5,
 28.0]

#### Exercise

Consider the function

In [135]:
def func(x): return -2. * x * x + 7. * x + 3.

Find, correct to the nearest integer, the value of `x` at which this function attains its maximum (also specify what that maximum value is).

#### Solution

In [137]:
xs = range(-10, 10, 1)
ys = list(map(func, xs))
# So we better understand the geometry of the graph
# (a parabola with the two branches pointing downwards)
print(ys)
x_at_max_y = None
max_y = None
for x, y in zip(xs, ys):
    if max_y is None or y > max_y:
        max_y = y
        x_at_max_y = x
print('x:', x_at_max_y, ', y:', max_y)

[-267.0, -222.0, -181.0, -144.0, -111.0, -82.0, -57.0, -36.0, -19.0, -6.0, 3.0, 8.0, 9.0, 6.0, -1.0, -12.0, -27.0, -46.0, -69.0, -96.0]
x: 2 , y: 9.0

The reader may be unhappy with this solution as it is approximate. Such a reader would probably prefer an analytic solution. Python again comes to the rescue aided by the SymPy library:

In [18]:
from sympy import *
import sympy.solvers

In [19]:
x = symbols('x')

In [20]:
diff(-2. * x * x + 7. * x + 3., x)

7.0 - 4.0*x

In [27]:
solution = sympy.solvers.solve(diff(-2. * x * x + 7. * x + 3., x), x)

In [30]:
solution[0]

1.75000000000000

In [23]:
(-2. * x * x + 7. * x + 3.).evalf(subs={x: solution[0]})

9.12500000000000

#### Exercise

Consider the following function of two variables:

In [138]:
def func(x, y):
    return -x * x - y * y + x * y - 3. * x + 5. * y + 5.

On the grid $-10 \leq x \leq 10$, $-10 \leq y \leq 10$, $x$ and $y$ being integers, find the point $(x_{\text{max}}, y_{\text{max}})$ at which this function achieves its maximum and that maximum value.

#### Solution

In [150]:
max_f, max_f_x, max_f_y = None, None, None
for x in range(-10, 10):
    for y in range(-10, 10):
        f = func(x, y)
        if max_f is None or f > max_f:
            max_f, max_f_x, max_f_y = f, x, y
print('x:', max_f_x)
print('y:', max_f_y)
print('max f:', max_f)

x: -1
y: 2
max f: 11.0

Notice that the above is not the only maximum for this integer grid:

In [151]:
func(0, 2)

11.0

In [152]:
func(0, 3)

11.0

To find all points on the grid at which the maximum is attained:

In [153]:
max_f_points = []
for x in range(-10, 10):
    for y in range(-10, 10):
        if func(x, y) == max_f: max_f_points.append((x, y))
max_f_points

[(-1, 2), (0, 2), (0, 3)]

We have restricted ourselves to whole numbers. Looks like the maximum of the function lies somewhere in the triangle defined by the above three points:

In [155]:
func(-.5, 2.5)

11.25

### Temporal types

In data science we often have to deal with temporal, time series data. Python's standard `datetime` module

In [157]:
import datetime as dt

comes in useful in these cases. This module implements dates:

In [158]:
my_date = dt.date(2019, 8, 7)
my_date

datetime.date(2019, 8, 7)

times:

In [159]:
my_time = dt.time(14, 3, 8, 357123)
my_time

datetime.time(14, 3, 8, 357123)

datetimes:

In [160]:
my_datetime = dt.datetime(2019, 8, 7, 14, 3, 8, 357123)
my_datetime

datetime.datetime(2019, 8, 7, 14, 3, 8, 357123)

and timedeltas (differences, time intervals):

In [161]:
my_timedelta = dt.timedelta(seconds=5)
my_timedelta

datetime.timedelta(0, 5)

Dates, times, and datetimes can be queried for their individual parts:

In [162]:
my_datetime.date()

datetime.date(2019, 8, 7)

In [163]:
my_datetime.time()

datetime.time(14, 3, 8, 357123)

In [164]:
my_datetime.year, my_datetime.month, my_datetime.day, \
my_datetime.hour, my_datetime.minute, my_datetime.second, my_datetime.microsecond

(2019, 8, 7, 14, 3, 8, 357123)

In [165]:
my_date.year, my_date.month, my_date.day

(2019, 8, 7)

In [166]:
my_time.hour, my_time.minute, my_time.second

(14, 3, 8)

To get the current datetime, we can use

In [168]:
dt.datetime.now()

datetime.datetime(2019, 9, 17, 15, 18, 35, 45986)

Moreover, Python supports temporal arithmetics:

In [235]:
my_timedelta = dt.datetime(2019, 8, 7, 14, 9, 53, 357123) - dt.datetime(2019, 8, 7, 12)
my_timedelta

datetime.timedelta(0, 7793, 357123)

In [236]:
my_timedelta.days, my_timedelta.seconds, my_timedelta.microseconds

(0, 7793, 357123)

In [237]:
my_timedelta.total_seconds()

7793.357123

In [238]:
my_timedelta = dt.date(2019, 8, 8) - dt.date(2019, 8, 7)
my_timedelta

datetime.timedelta(1)

In [239]:
my_timedelta.days, my_timedelta.seconds, my_timedelta.microseconds

(1, 0, 0)

In [240]:
my_timedelta.total_seconds()

86400.0

### Parsing and formatting temporal data

Temporal data often occurs as strings. One of the most common tasks is **parsing** &mdash; the conversion of that textual data to an appropriate, in this case temporal, data type.

In Python, temporal data can be parsed using `strptime`:

In [241]:
dt.datetime.strptime('2019.09.01', '%Y.%m.%d').date()

datetime.date(2019, 9, 1)

Note that we had to specify the format for the string to be parsed, in the above example `'%Y.%m.%d'`.

In [242]:
dt.datetime.strptime('01-09-2019', '%d-%m-%Y').date()

datetime.date(2019, 9, 1)

In [243]:
dt.datetime.strptime('20:46:35', "%H:%M:%S").time()

datetime.time(20, 46, 35)

In [244]:
dt.datetime.strptime('2019.09.01T20:46:35.123', "%Y.%m.%dT%H:%M:%S.%f")

datetime.datetime(2019, 9, 1, 20, 46, 35, 123000)

It is also often useful to **format** temporal data as strings of an appropriate format. This is achieved using `strftime`. (In `strptime`, `p` stands for "parse"; in `strftime`, `f` stands for "format".)

In [245]:
dt.datetime.strftime(dt.datetime(2019, 9, 1), '%Y.%m.%d')

'2019.09.01'

In [246]:
dt.datetime.strftime(dt.datetime(2019, 9, 1), '%d-%m-%Y')

'01-09-2019'

In [247]:
dt.datetime.strftime(dt.datetime(2019, 9, 1, 20, 46, 35, 123000), "%Y.%m.%dT%H:%M:%S.%f")

'2019.09.01T20:46:35.123000'

## Conclusion

We have barely scratched the surface of Python programming. We have introduced the basic building blocks, but the programmer's skill comes from masterfully using their combinations. Metaphorically speaking, we have introduced the valid chess moves, but haven't considered the openings, tactics, and strategy. To become a good Programmer or Data Scientist, you need to further advance your programming skills.

## Bibliography

To learn more about Python, you may wish to consult the official Python documentation: https://docs.python.org/3/

You may also wish to look at the following books:

* Wes McKinney. *Python for Data Analysis*, 2nd Edition. OReilly Media, Inc., 2017. This book goes through the foundations of the Python programming language, the Jupyter environment, industry-standard Python libraries, especially Pandas, and applications to time series data.
* Yves Hilpisch. *Python for Finance*, 2nd Edition. OReilly Media, Inc., 2019. This book goes through the foundations of the Python programming language, industry-standard Python libraries, including Pandas, an introduction to object-oriented programming, and applications to automated trading, derivatives, and portfolio valuation.
* Francois Chollet. *Deep Learning with Python*. Manning Publications, 2018. This book focusses on Deep Learning (DL), rather than Python, but considers how Python libraries could be used to facilitate DL. It does not cover the fundamentals of Python in great depth.

If you have a question check whether it is already answered on StackOverflow: https://stackoverflow.com/

Very often, if you google your Python programming question, you end up on StackOverflow.

If you are using Python for data science, check out
* https://www.kaggle.com/ (great for data science in general)
* https://www.quandl.com/ (a great source of financial and alternative data).

## Comments

In [70]:
a = 7

In [71]:
b = a

In [72]:
b = 3

In [73]:
a

7

In [74]:
type(7)

int

In [75]:
a = ['one', 'two', 'three']

In [76]:
b = a

In [77]:
a[0] = 'hi'

In [78]:
b

['hi', 'two', 'three']

In [79]:
a = [7]

In [80]:
b = a

In [81]:
b.append(3)

In [82]:
a

[7, 3]

In [83]:
b = [8]

In [84]:
a = 3

In [85]:
a += 1

In [86]:
a

4

In [87]:
type(7)

int

In [113]:
a = tuple(['one'])
b = tuple(['one', 'two', 'three'])

In [114]:
import copy
def add(x, y, copy=False):
    x = copy.copy(x)
    x = list(x)
    y = copy.copy(y)
    y = list(y)
    x[0] = 'ein'
    return x + y

In [115]:
add(a, b)

['ein', 'one', 'two', 'three']

In [116]:
a

('one',)

In [117]:
?copy.deepcopy

In [118]:
a = {'first': ['one', 'two', 'three'], 'second': [1, 2, 3, 4, 5]}

In [119]:
a_copy = copy.copy(a)

In [120]:
a_copy['first'].append('four')

In [121]:
a_copy

{'first': ['one', 'two', 'three', 'four'], 'second': [1, 2, 3, 4, 5]}

In [122]:
a

{'first': ['one', 'two', 'three', 'four'], 'second': [1, 2, 3, 4, 5]}

In [123]:
a_deep_copy = copy.deepcopy(a)

In [124]:
a_deep_copy['first'].append('five')

In [125]:
a

{'first': ['one', 'two', 'three', 'four'], 'second': [1, 2, 3, 4, 5]}

In [126]:
a_deep_copy

{'first': ['one', 'two', 'three', 'four', 'five'], 'second': [1, 2, 3, 4, 5]}

Mention the Python Cookbook in the Bibliography.